# Project specific files
data
outputs
DOCS
works

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# IDEs and editors
.idea/
#.vscode/
.specstory/
*.swp
*.swo
*~

# Testing
.coverage
htmlcov/
.pytest_cache/

# OS specific files
.DS_Store
Thumbs.db